:root{
    --width:1110px;
    --galleryheight:242px;
    --gallerywidth:255px;
    --gallerygap:1rem;
    --heroheading:4rem;
    --herobg:-11rem;
    --heroimgdivmargin:-14dvw;
    --heroimgwidth:400px;
}
@media ( max-width: 800px ) {
    :root{
        --width:calc( 70% + 20%);
        --gallerywidth: calc(255px - 41%);
        --galleryheight: calc( 224px - 35%);
        --gallerygap: calc(1rem - 1%);
        --heroheading:calc(4rem - 2rem);
        --heroimgdivmargin:calc( -14dvw + 5dvw );
         --heroimgwidth:calc(100% - 51%);
        /* --herobg:calc(-11rem + 8rem); */
    }  
    /* html{
        background:
                url("/assets/desktop/image-hero-left.png") no-repeat,
                url("/assets/desktop/image-hero-right.png") no-repeat,
                url('/assets/desktop/image-footer.jpg') no-repeat;
        background-position:0px 180px,665px 180px,bottom center;
        background-size: 100px,100px, contain;
    } */
    .btn{
        padding:.5rem;
    }
    p{
        padding: 0;
    }
    /* .hero span:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: space-around;
        outline:5px solid black;
    } */
   /* .hero{
    display: flex;
   }
    .hero__logo{
        outline:1px solid green;
    }
      .hero__intro{
        position: absolute;
        outline:4px solid blue;
    } */
    .hero{

        display: flex;
        align-items: center;
        justify-content: baseline;
        flex-direction: column;
        /* padding-top:0; */
        overflow: hidden;
    }
    .hero::before{
        content:'';
        top:0;
        z-index: -1;
        background-size: var(--heroimgwidth);
    }
    .main::before{
        display: none;
    }
    .footer div:nth-child(1){
        flex-flow: column;
        text-align: center;
        padding:1rem;
        overflow-x: hidden;
    }
    .footer h3, .footer p{
        text-align: center;
    }
}
*, *::before, *::after,  body, html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* html{
    background:
            url("/assets/desktop/image-hero-left.png")  no-repeat,
            url("/assets/desktop/image-hero-right.png")  no-repeat,
            url('/assets/desktop/image-footer.jpg')  no-repeat;
    background-position:0px 180px, 1065px 180px, bottom center;
    background-size: 400px,400px, contain;
} */
body{
    /* display: grid;
    place-items: center; */
    /* width: var(--width); */
    /* margin:auto; */
    /* outline:1px solid black; */
    text-align: center;
}
h1, h2, h3{
    color: #28283D;
     text-align: center;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 900;
}
h1{
    font-size: var(--heroheading);
    line-height: var(--heroheading);
}
h2, h3{
    font-size: 2.5rem;
    line-height:2.75rem;
    padding: 1rem 0 0;
}
h3{
    color:#FAFAFA;
}
p{
    color: #87879D;
     text-align: center;
    font-family: Red Hat Display;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    padding:2rem 0 ;
}
.main__info span{
    color: #4D96A9;
    font-family: Red Hat Display;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.625rem;
        /* 162.5% */
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}
.btn{
    margin:0 .5rem;
    transition: 1s;
    color:#fff;
    width: 12.0625rem;
    height: 3.625rem;
    cursor: pointer;
    border-radius: 1.8125rem;
     background: #855FB1;
    outline: 1px solid transparent;
    border: 1px solid transparent;

    font-family: Red Hat Display;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.625rem;
        /* 162.5% */
}
.btn span{
    color: #D9B8FF;
}
.btn__accent span{
    color: #8FE3F9;
}
.btn:hover{
     background: #B18BDD;
}
.btn__accent{
    background: #4D96A9;
}
.btn__accent:hover{
     background: #71C0D4;
}
/* hero */
.hero{
    padding-top:5rem;
    min-height: 100dvh;
    /* height:fit-content; */
    /* width:var(--width); */
    /* margin:auto; */
    position: relative;
    /* outline:3px solid green; */
}

.hero::before{
    content:'';
    position: absolute;
    left:0;
    /* left:var(--herobg); */
    height:60dvh;
    width:100%;
    background:
        url("/assets/desktop/image-hero-left.png") center left no-repeat,
        url("/assets/desktop/image-hero-right.png") center right no-repeat;
        background-size: var(--heroimgwidth);
     margin:auto;
}
/* hero */
/* mid */
.main::before{
    content:' 01';
    height:50px;
    width:50px;
    padding:.5rem;
    line-height: 2rem;
    border-radius: 1.8125rem;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background: #FAFAFA;
    position: absolute;
    top: -5rem;
    z-index: 10;
}
.main::after {
    content: ' 02';
    height: 50px;
    width: 50px;
    padding: .5rem;
    line-height: 2rem;
    border-radius: 1.8125rem;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background: #FAFAFA;
    position:absolute;
    bottom:-1.5rem;
    z-index: 10;
}
.main{
    min-height: 750px;
    width: var(--width);
    margin:auto;
    padding:0 0 180px;
    position: relative;
}
.main__gallery{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:var(--gallerygap);
}
.main__gallery img{
    width:var(--gallerywidth);
    height:var(--galleryheight);
    border-radius: 0.5rem;
}
.main__info, .hero__intro{
    /* width: 33.75rem; */
    width:clamp(260px, 60%, 33.65rem );
    max-height: 15rem;
    margin:auto;
    padding-top:80px;
}
/* mid  */
.footer::before {
    content: ' ';
    height: 308px;
    width:100%;
    position: absolute;
    bottom:0;
    z-index: -1;
    background: url('/assets/desktop/image-footer.jpg') no-repeat;
    background-size: cover;
}
.footer{
    display: grid;
    place-content: center;
    height:308px;
    position: relative;
    background-color: rgba(77, 150, 169, .8);
}
.footer div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:1100px;
}
.footer h3, .footer p{
    text-align: left;
}
.footer h3{
    width:300px;
}
.footer p{
    max-width:400px;
    color:#FAFAFA;
}